.elementor-2582
  .elementor-element.elementor-element-8d96fd8
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2582
  .elementor-element.elementor-element-8d96fd8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2582
  .elementor-element.elementor-element-8d96fd8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #050505;
}
.elementor-2582 .elementor-element.elementor-element-8d96fd8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 0px 0px;
}
.elementor-2582
  .elementor-element.elementor-element-8d96fd8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2582
  .elementor-element.elementor-element-bf56d7e
  > .elementor-widget-container {
  margin: 0px 0px -8px 0px;
}
.elementor-2582 .elementor-element.elementor-element-bf56d7e .cz_logo img {
  width: 220px;
}
.elementor-2582
  .elementor-element.elementor-element-4892269:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2582
  .elementor-element.elementor-element-4892269
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcdc04;
}
.elementor-2582 .elementor-element.elementor-element-4892269 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 11px 0px;
}
.elementor-2582
  .elementor-element.elementor-element-4892269
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2582
  .elementor-element.elementor-element-3f86b14
  > .elementor-widget-container {
  margin: 18px 0px 0px 0px;
}
.elementor-2582
  .elementor-element.elementor-element-3f86b14
  .cz_title
  .cz_title_content {
  color: rgba(0, 0, 0, 0.6);
}
.elementor-2582
  .elementor-element.elementor-element-3f86b14
  .cz_title
  .cz_title_content
  a {
  color: #1b1b1b;
}
.elementor-2582
  .elementor-element.elementor-element-3f86b14
  .cz_title
  .cz_title_content
  a:hover {
  color: #6b8e23;
}
@media (min-width: 768px) {
  .elementor-2582 .elementor-element.elementor-element-09e7634 {
    width: 36.695%;
  }
  .elementor-2582 .elementor-element.elementor-element-09cc54c {
    width: 29.557%;
  }
}
@media (max-width: 1024px) {
  .elementor-2582 .elementor-element.elementor-element-8d96fd8 {
    margin-top: 1px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-2582 .elementor-element.elementor-element-8d96fd8 {
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .elementor-2582 .elementor-element.elementor-element-bf56d7e .cz_logo img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: table;
    float: none;
  }
}
