.elementor-2528 .elementor-element.elementor-element-9ffcd03 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-2528 .elementor-element.elementor-element-cdfefb9 .cz_gap {
  height: 129px;
}
.elementor-2528
  .elementor-element.elementor-element-f3c1f14
  .cz_title
  .cz_title_content
  h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3;
}
.elementor-2528
  .elementor-element.elementor-element-83121d7
  > .elementor-widget-container {
  margin: 0px 1px 0px 49px;
}
.elementor-2528 .elementor-element.elementor-element-83121d7 {
  text-align: justify;
  color: #464646;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.elementor-2528
  .elementor-element.elementor-element-3c68cd4
  .elementor-repeater-item-06be3fe
  > div {
  width: 386px;
}
.elementor-2528
  .elementor-element.elementor-element-3c68cd4
  .elementor-repeater-item-06be3fe {
  top: -125px;
  right: 0px;
}
.elementor-2528
  .elementor-element.elementor-element-3c68cd4
  .elementor-repeater-item-ce46328
  > div {
  width: 337px;
}
.elementor-2528
  .elementor-element.elementor-element-3c68cd4
  .elementor-repeater-item-ce46328 {
  top: 104px;
  left: 167px;
}
.elementor-2528
  .elementor-element.elementor-element-3c68cd4
  > .elementor-widget-container {
  margin: 180px 0px 0px 0px;
}
.elementor-2528 .elementor-element.elementor-element-8326a59 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-2528 .elementor-element.elementor-element-489f5d1 .cz_gap {
  height: 217px;
}
.elementor-2528
  .elementor-element.elementor-element-b878696
  .cz_title
  .cz_title_content
  h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3;
}
.elementor-2528
  .elementor-element.elementor-element-801ae2e
  > .elementor-widget-container {
  margin: 0px 44px 0px 0px;
}
.elementor-2528 .elementor-element.elementor-element-801ae2e {
  text-align: justify;
  color: #464646;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.elementor-2528
  .elementor-element.elementor-element-5bff74e
  .elementor-repeater-item-06be3fe
  > div {
  width: 386px;
}
.elementor-2528
  .elementor-element.elementor-element-5bff74e
  .elementor-repeater-item-06be3fe {
  top: -125px;
  right: 0px;
}
.elementor-2528
  .elementor-element.elementor-element-5bff74e
  .elementor-repeater-item-ce46328
  > div {
  width: 337px;
}
.elementor-2528
  .elementor-element.elementor-element-5bff74e
  .elementor-repeater-item-ce46328 {
  top: 0px;
}
.elementor-2528
  .elementor-element.elementor-element-5bff74e
  > .elementor-widget-container {
  margin: 328px 0px 0px 0px;
}
.elementor-2528 .elementor-element.elementor-element-89cf53d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --margin-top: 97px;
  --margin-bottom: -14px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-2528 .elementor-element.elementor-element-aa833d5 .cz_sep2 svg {
  width: 100%;
  height: 200px;
}
.elementor-2528
  .elementor-element.elementor-element-d1f4094:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2528
  .elementor-element.elementor-element-d1f4094
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1f1f1f;
}
.elementor-2528 .elementor-element.elementor-element-d1f4094 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 70px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-d1f4094
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2528
  .elementor-element.elementor-element-164e23a
  > .elementor-element-populated {
  padding: 10px 50px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-07b15df
  .cz_title
  .cz_title_content
  h2 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.3;
}
.elementor-2528
  .elementor-element.elementor-element-d95cee8
  > .elementor-widget-container {
  margin: 0px 221px 0px 97px;
}
.elementor-2528 .elementor-element.elementor-element-d95cee8 .services h3,
.elementor-2528 .elementor-element.elementor-element-d95cee8 services h3 a {
  font-size: 36px;
  color: #6b8e23;
  font-weight: 400;
  padding-right: 15px;
}
.elementor-2528
  .elementor-element.elementor-element-d95cee8
  .services
  .service_text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.elementor-2528
  .elementor-element.elementor-element-d95cee8
  .services
  .service_img:not(.service_number) {
  width: 113px;
  padding-left: 32px;
}
.elementor-2528
  .elementor-element.elementor-element-ce4e938
  > .elementor-widget-container {
  margin: -33px 107px 0px 109px;
}
.elementor-2528 .elementor-element.elementor-element-ce4e938 {
  text-align: justify;
  color: #ebebeb;
}
.elementor-2528
  .elementor-element.elementor-element-bf8b6aa
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #eaeaea;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2528
  .elementor-element.elementor-element-bf8b6aa
  > .elementor-element-populated,
.elementor-2528
  .elementor-element.elementor-element-bf8b6aa
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-2528
  .elementor-element.elementor-element-bf8b6aa
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-bf8b6aa
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2528
  .elementor-element.elementor-element-71cb844
  > .elementor-widget-container {
  margin: 0px 128px 0px 94px;
}
.elementor-2528 .elementor-element.elementor-element-71cb844 .services h3,
.elementor-2528 .elementor-element.elementor-element-71cb844 services h3 a {
  font-size: 36px;
  color: #6b8e23;
  font-weight: 400;
}
.elementor-2528
  .elementor-element.elementor-element-71cb844
  .services
  .service_text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.elementor-2528
  .elementor-element.elementor-element-71cb844
  .services
  .service_img:not(.service_number) {
  width: 113px;
  padding-left: 32px;
}
.elementor-2528
  .elementor-element.elementor-element-57b401b
  > .elementor-widget-container {
  margin: -33px 60px 0px 203px;
}
.elementor-2528 .elementor-element.elementor-element-57b401b {
  text-align: justify;
  color: #ebebeb;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-2528 .elementor-element.elementor-element-d08fbf0 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-1685902
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-2528 .elementor-element.elementor-element-c5d8b6a .cz_sep2 svg {
  width: 100%;
  height: 200px;
}
.elementor-2528 .elementor-element.elementor-element-df7e80e {
  padding: 250px 0px 0px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-a1b4f1e
  .cz_title
  .cz_title_content
  h2 {
  font-size: 42px;
  color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-1498f67
  > .elementor-element-populated {
  padding: 10px 10px 10px 10px;
}
.elementor-2528 .elementor-element.elementor-element-809e0ed {
  padding: 13px 0px 120px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-4407cdd
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-c4a3934
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-c4a3934 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-c4a3934 .cz_image {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-debe831
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-6e2fb82
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-6e2fb82 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-6e2fb82 .cz_image {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-639c8e5
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-b215254
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-b215254 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-b215254 .cz_image {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-9a2ee95
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-8f6181c
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-8f6181c .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-8f6181c .cz_image {
  background-color: #ffffff;
  padding-bottom: 11px;
}
.elementor-2528
  .elementor-element.elementor-element-fa0c0cf
  > .elementor-container {
  max-width: 1029px;
}
.elementor-2528 .elementor-element.elementor-element-fa0c0cf {
  margin-top: -55px;
  margin-bottom: 0px;
  padding: 13px 0px 120px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-22c0793
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-52800b1
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-52800b1 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-52800b1 .cz_image {
  background-color: #ffffff;
  padding-bottom: 0px;
}
.elementor-2528
  .elementor-element.elementor-element-51b81c4
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-3fa3e67
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-3fa3e67 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-3fa3e67 .cz_image {
  background-color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-f23b993
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-eb11a24
  > .elementor-widget-container {
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-eb11a24 .cz_image > div {
  position: relative;
}
.elementor-2528 .elementor-element.elementor-element-eb11a24 .cz_image {
  background-color: #ffffff;
}
.elementor-2528 .elementor-element.elementor-element-d4cf817 {
  padding: 0px 0px 0px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-8779768
  .cz_title
  .cz_title_content
  h2 {
  font-size: 42px;
  color: #ffffff;
}
.elementor-2528
  .elementor-element.elementor-element-5a3f8d9
  > .elementor-element-populated {
  padding: 10px 10px 10px 10px;
}
.elementor-2528 .elementor-element.elementor-element-5a5beb0 .cz_line {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
}
.elementor-2528 .elementor-element.elementor-element-5a5beb0 .cz_line:before,
.elementor-2528 .elementor-element.elementor-element-5a5beb0 .cz_line:after {
  background-color: #6b8e23;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  border-style: none;
}
.elementor-2528 .elementor-element.elementor-element-d135328 {
  padding: 13px 0px 120px 0px;
}
.elementor-2528
  .elementor-element.elementor-element-b275ee3
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-7d9cce3
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-2d0297c
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-e4627f6
  > .elementor-widget-container {
  margin: 0px -12px 0px -36px;
  padding: 0px 25px 0px 25px;
}
.elementor-2528 .elementor-element.elementor-element-e4627f6 .cz_image > div {
  position: relative;
  width: 100%;
}
.elementor-2528 .elementor-element.elementor-element-e4627f6 .cz_image {
  background-color: #ffffff;
  width: 228px;
}
.elementor-2528
  .elementor-element.elementor-element-fc02d46
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528
  .elementor-element.elementor-element-1825e80
  > .elementor-element-populated {
  padding: 10px 40px 10px 10px;
}
.elementor-2528 .elementor-element.elementor-element-7e547d3 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-2528 .elementor-element.elementor-element-8c85852 {
    width: 100%;
  }
  .elementor-2528 .elementor-element.elementor-element-1498f67 {
    width: 100%;
  }
  .elementor-2528 .elementor-element.elementor-element-16a9167 {
    width: 100%;
  }
  .elementor-2528 .elementor-element.elementor-element-5a3f8d9 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-2528 .elementor-element.elementor-element-d1f4094 {
    padding: 170px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-df7e80e {
    padding: 20px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-809e0ed {
    padding: 30px 30px 70px 30px;
  }
  .elementor-2528 .elementor-element.elementor-element-fa0c0cf {
    padding: 30px 30px 70px 30px;
  }
  .elementor-2528 .elementor-element.elementor-element-d4cf817 {
    padding: 20px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-5a5beb0 .cz_line:before,
  .elementor-2528 .elementor-element.elementor-element-5a5beb0 .cz_line:after {
    display: none;
  }
  .elementor-2528 .elementor-element.elementor-element-d135328 {
    padding: 30px 30px 70px 30px;
  }
}
@media (max-width: 767px) {
  .elementor-2528 .elementor-element.elementor-element-cdfefb9 .cz_gap {
    height: 20px;
  }
  .elementor-2528
    .elementor-element.elementor-element-f3c1f14
    .cz_title
    .cz_title_content
    h2 {
    line-height: 1.2;
  }
  .elementor-2528
    .elementor-element.elementor-element-3c68cd4
    .elementor-repeater-item-06be3fe
    > div {
    width: 100%;
  }
  .elementor-2528
    .elementor-element.elementor-element-3c68cd4
    .elementor-repeater-item-06be3fe {
    top: -18px;
  }
  .elementor-2528
    .elementor-element.elementor-element-3c68cd4
    .elementor-repeater-item-ce46328
    > div {
    width: 93%;
  }
  .elementor-2528
    .elementor-element.elementor-element-3c68cd4
    .elementor-repeater-item-ce46328 {
    top: 470px;
    left: 25px;
  }
  .elementor-2528
    .elementor-element.elementor-element-3c68cd4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-8326a59 {
    margin-top: -68px;
    margin-bottom: 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-489f5d1 .cz_gap {
    height: 12px;
  }
  .elementor-2528
    .elementor-element.elementor-element-b878696
    > .elementor-widget-container {
    margin: 128px -212px 0px -64px;
  }
  .elementor-2528
    .elementor-element.elementor-element-b878696
    .cz_title
    .cz_title_content
    h2 {
    font-size: 41px;
    line-height: 1.2;
  }
  .elementor-2528
    .elementor-element.elementor-element-801ae2e
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-5bff74e
    .elementor-repeater-item-06be3fe
    > div {
    width: 100%;
  }
  .elementor-2528
    .elementor-element.elementor-element-5bff74e
    .elementor-repeater-item-06be3fe {
    top: -18px;
  }
  .elementor-2528
    .elementor-element.elementor-element-5bff74e
    .elementor-repeater-item-ce46328
    > div {
    width: 93%;
  }
  .elementor-2528
    .elementor-element.elementor-element-5bff74e
    .elementor-repeater-item-ce46328 {
    top: 185px;
    left: 25px;
  }
  .elementor-2528
    .elementor-element.elementor-element-5bff74e
    > .elementor-widget-container {
    margin: 19px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-89cf53d {
    --margin-top: 0px;
    --margin-bottom: -14px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-aa833d5
    > .elementor-widget-container {
    margin: 303px -15px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-d1f4094 {
    padding: 100px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-164e23a
    > .elementor-element-populated {
    padding: 10px 20px 10px 20px;
  }
  .elementor-2528
    .elementor-element.elementor-element-07b15df
    .cz_title
    .cz_title_content
    h2 {
    font-size: 35px;
    line-height: 1.2;
  }
  .elementor-2528
    .elementor-element.elementor-element-d95cee8
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-d95cee8
    .services
    .service_img:not(.service_number) {
    padding-right: 37px;
  }
  .elementor-2528
    .elementor-element.elementor-element-ce4e938
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-bf8b6aa
    > .elementor-element-populated {
    border-width: 1px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-71cb844
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-71cb844
    .services
    .service_img:not(.service_number) {
    padding-right: 33px;
  }
  .elementor-2528
    .elementor-element.elementor-element-57b401b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-57b401b {
    letter-spacing: -0.4px;
  }
  .elementor-2528 .elementor-element.elementor-element-d08fbf0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-df7e80e {
    margin-top: 110px;
    margin-bottom: 0px;
    padding: 20px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-a1b4f1e
    .cz_title
    .cz_title_content
    h2 {
    line-height: 1.2;
  }
  .elementor-2528
    .elementor-element.elementor-element-1498f67
    > .elementor-element-populated {
    padding: 10px 60px 10px 60px;
  }
  .elementor-2528
    .elementor-element.elementor-element-4407cdd
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-debe831
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-6e2fb82
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-639c8e5
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-b215254
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-9a2ee95
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-8f6181c
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-22c0793
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-52800b1
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-51b81c4
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-3fa3e67
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-f23b993
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-eb11a24
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528 .elementor-element.elementor-element-d4cf817 {
    padding: 20px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-8779768
    .cz_title
    .cz_title_content
    h2 {
    font-size: 38px;
    line-height: 1.2;
  }
  .elementor-2528
    .elementor-element.elementor-element-5a3f8d9
    > .elementor-element-populated {
    padding: 10px 60px 10px 60px;
  }
  .elementor-2528
    .elementor-element.elementor-element-b275ee3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-7d9cce3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-2d0297c
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-e4627f6
    > .elementor-widget-container {
    margin: 0px 0px 13px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-fc02d46
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2528
    .elementor-element.elementor-element-1825e80
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
}
